<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="GET" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">推广码:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <!--<input id="c-code" class="form-control" size="50" name="code" type="text" value="{$code.code}">-->
                <img src="{$code.share_code}" alt="无图片/路径不对" class="img-responsive">

            <!--<ul class="row list-inline faupload-preview" id="p-code"></ul>-->
        </div>
    </div>

</form>
